<!--
 * @Description: 
 * @Author: Jamboy
 * @Date: 2021-09-07 17:14:11
 * @LastEditTime: 2021-09-09 14:05:14
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="root">
    <my-title :lever="1">hello1</my-title>
  </div>
</body>
<script>
  const app = Vue.createApp({
    data() {
      return {
        msg: 'hello vue',
        counter: 1
      }
    },
  })

  app.component('my-title',{
    props:{
      lever:{
        type: Number
      }
    },
    
    render() {
      const {h} =Vue
      // return h('h' + this.lever, {}, 'hello')
      return h('h' + this.lever, {}, this.$slots.default())
    },
    // template: `<h1 v-if="lever===1"><slot /></h1>
    //             <h2 v-if="lever===2"><slot /></h2>`
  })
  app.mount('#root')
</script>
</html>