<!--
 * @Description: 
 * @Author: Jamboy
 * @Date: 2021-09-07 16:59:32
 * @LastEditTime: 2021-09-08 13:56:18
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="root">
    <input v-model="inputTxt">
    <button @click="handleAdd">添加</button>
    <button @click="handleClear">清除</button>
    <ul>
      <li v-for="(item, index) in items" :key="index">
        <todo-item :msg="item"></todo-item>
      </li>
    </ul>
  </div>  
</body>
<script>
  const app = Vue.createApp({
    data() {
      return {
        items: [1,2],
        inputTxt:''
      }
    },
    methods: {
      handleAdd(){
        console.log('handleAdd: ', this.inputTxt);
        this.items.push(this.inputTxt)
      },

      handleClear(){
        this.items = []
      }

    },
  })

  app.component('todo-item',{
    props:{
      msg: {
        type: String
      }
    },
    template: '<div>{{msg}}</div>'
  })

  app.mount('#root')
</script>
</html>