@font-face {
  font-family: 'iconfont';  /* Project id 2808884 */
  src: url('//at.alicdn.com/t/font_2808884_mq87h81kinf.woff2?t=1636009019915') format('woff2'),
       url('//at.alicdn.com/t/font_2808884_mq87h81kinf.woff?t=1636009019915') format('woff'),
       url('//at.alicdn.com/t/font_2808884_mq87h81kinf.ttf?t=1636009019915') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
